In [ ]:
# Exercises from
# https://codesolid.github.io/exercises/PandasExercises.html
# By John Lockwood
# Accessed 30.08.2023

# to get datasets:
# conda install seaborn

In [ ]:
import seaborn as sb
import pandas as pd

In [ ]:
df_p = sb.load_dataset('penguins')

In [ ]:
df_p

In [ ]:
# 12. Write the code to show the the number of rows and columns in df_penguins
df_p.shape
#print(len(df_p))
#print(len(df_p.columns))

In [ ]:
# 13. How might you show the first few rows of df_penguins?
df_p.head(5)

In [ ]:
# 14. How can you return the unique species of penguins from df_penguins? How many unique species are there?
df_p["species"].unique()

In [ ]:
#15. What function can we use to drop the rows that have missing data?

In [ ]:
#16. By default, will this modify df_penguins or will it return a copy?
df_p

In [ ]:
#17. How can we override the default?

In [ ]:
#18. Create a new DataFrame, df_penguins_full, with the missing data deleted.
df_p_full = df_p.dropna()

In [ ]:
#19. What is the average bill length of a penguin, in millimeters, in this (df_full) data set?

In [ ]:
df_p_full["bill_length_mm"].mean()

In [ ]:
# Denne dropper vi foreløpig.. 
#20. Which of the following is most strongly correlated with bill length?
#a) Body mass? b) Flipper length? c) Bill depth? Show how you arrived at the answer.
df_p_full[["bill_length_mm", "flipper_length_mm"]].cov()

In [ ]:
#21. How could you show the median flipper length, grouped by species?
df_p_full[["species", "flipper_length_mm"]].groupby("species").median()

In [ ]:
#22. Which species has the longest flippers?

In [ ]:
df_p_full[["species", "flipper_length_mm"]].groupby("species").max()

In [ ]:
#23. Which two species have the most similar mean weight? Show how you arrived at the answer.

In [ ]:
df_p_full[["species", "body_mass_g"]].groupby("species").mean()

In [ ]:
#24. How could you sort the rows by bill length?
df_p.sort_values("bill_length_mm")

In [ ]:
#25. How could you run the same sort in descending order?
df_p.sort_values("bill_length_mm", ascending=False)

In [ ]:
#26. How could you sort by species first, then by body mass?
df_p.sort_values(["species", "body_mass_g"], ascending=[True,False])

27. Load the Seaborn “diamonds” dataset into a Pandas dataframe named diamonds.

In [ ]:
dia = sb.load_dataset('diamonds')

In [ ]:
#28. Display the columns that are available.
dia.columns

In [ ]:
dia.dtypes

In [ ]:
#29. If you select a single column from the diamonds DataFrame, 
# what will be the type of the return value?

In [ ]:
type(dia["cut"])

In [ ]:
#30. Select the ‘table’ column and show its type

In [ ]:
dia["table"].dtype

In [ ]:
#31. Select the first ten rows of the price and carat columns 
# ten rows of the diamonds DataFrame into a variable called subset, and display them.

In [ ]:
subset = dia[["price", "carat"]].sort_values(by=["price"], ascending=False).head(10)
subset

In [ ]:
#33. Select the first row of the diamonds DataFrame into a variable called row.

In [ ]:
dia.head(1)

In [ ]:
dia.iloc[4:5,0:3]

In [ ]:
#36. Select the row with the highest priced diamond.

In [ ]:
dia.sort_values(by="price", ascending=False).head(1)

In [ ]:
dia.sort_values(by="price", ascending=False).tail(1)

In [ ]:
# Bonus: dyreste diamant for hver kombinasjon av cut og color

In [ ]:
dia[["cut", "color", "price"]].groupby(by=["color", "cut"]).max()

In [ ]:
# Bonus: scatter-plot med carat på x-aksen, pris på y-aksen

In [ ]:
dia.plot.scatter("carat", "price", s=0.5)